body{
    font-family:Arial, Helvetica, sans-serif;
    margin:0;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:100vh;
    background-image: linear-gradient(315deg, #baeaf3 0%, #3296a8 74%);
    background-image: url(wallpaper-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
h2{
    color:#144d57;
}
.clock-container{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
#clock{
    color: #000000;
    text-shadow: lightgrey 1px 1px 0.2px, lightslategray 0 0 0.1em, gray 0 0 0.2em;
    font-size: 2.5em;
    font-weight: bolder;
    margin-right: 10px;
    padding: 10px 20px;
    background-color: transparent;
    border: 5px solid #cdabfe;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
#ampm{
    font-weight: bolder;
    background-color: whitesmoke;
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
fieldset{
    padding: 50px;
    border: 1px solid #2990a2;

}
legend{
    font-size: larger;
    font-weight: bold;
    color: #144d57;
    text-align: center;
    background-color: #f1e8fe;
    padding: 5px 10px;
    border: 1px solid  #2990a2;
    border-radius: 5px;
}
@media only screen and (max-width: 600px) {
    #clock{
        font-size: 1.5em;
        padding: 5px 10px;
        border: 3px solid #cdabfe;
    }
    fieldset{
        padding: 20px;
    }
}
@media only screen and (max-width: 400px) {
    #clock{
        font-size: 1.2em;
        padding: 3px 6px;
        border: 2px solid #cdabfe;
    }
    
}